// Primary brand colors
$color-primary: #36cdff;
$color-font: #433f43;

// Grays and neutrals
$color-white: #fff;
$color-off-white: #E6EBEC;

$color-black: #000;

// Login page colors
$color-input-background: #c3e7eb;
$color-font-background: #212121;
$color-submit-login-button: #0166fe;
$color-submit-login-button-disabled: #455558;


// Chat colors
$color-question-background: #edece9;
$color-answer-background: #c3e7eb;
$color-repeat-question-icon: #365782;
$color-feedback-icon: #433f43;

// Icons colors
$color-clear-convo-icon: #0166fe;
$color-question-icon: #0166fe;

// Button colors
$color-voice-button: #0166fe;
$color-voice-visualizer: #0166fe;
$color-voice-button-disabled: #455558;

// Other font colors
$color-header-font: #433f43;
$color-input-font: #433f43;
$color-question-font: #433f43;
$color-answer-font: #433f43;
$color-g-button-questions-font: #433f43;

// Background Colors
$color-chat-background: #f0f8ff;
$color-top-menu: #fff;
$color-text-box-prompt: #fff;


$color-menu-border: #d4e5e7;
$color-menu-border-button: #BECACC;
$color-menu-button-disable: #455558;
$color-menu-button-background: #e9e7e7;
$color-menu-button-background-active: #e9e7e7;
$color-menu-button-background-disable: #e9e7e7;
$color-menu-button-background-focus: #e9e7e7;
$color-menu-drawer-background: #fff;

$color-survey-option-background: #878a8d;
$color-survey-option-background-hover: #6d7175;
$color-survey-option-text-hover: #e0e0e0;
$color-survey-option-background-active: #5c5f63;
$color-survey-option-text-active: #cfcfcf;

$color-like: #0166fe;
$color-dislike: #89151d;

$color-rgba-overlay: rgba(0, 0, 0, 0.3);

// Hyperlink colors
$color-hyperlink: #d4eeff;
$color-hyperlink-hover: #27acff;
$color-hyperlink-visited: #5bc0ff;